{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{post_hooks, [{clean, "rm -fr _build ebin priv erl_crash.dump *.json c_src/*.o c_src/*.d"}]}.

{plugins, [pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{edoc_opts, [{overview,        "build-aux/overview.edoc"},
             {title,           "OS Process Manager for Erlang VM"},
             {keywords,        "OS, linux, process, manager, job, scheduler, erlang, system, cron"},
             {includes,        ["include"]},
             {pretty_printer,  erl_pp},
             {stylesheet_file, "build-aux/edoc.css"},
             {app_default,     "http://www.erlang.org/doc/man"}]}.
