{erl_opts, [
	warnings_as_errors,
	warn_export_all
]}.

{post_hooks, [{clean, "rm -fr _build ebin priv erl_crash.dump *.json c_src/*.o c_src/*.d"}]}.

{plugins, [pc, rebar3_hex, rebar3_ex_doc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, [
      {"README.md", #{title => "Overview"}},
      {"LICENSE",   #{title => "License"}}
    ]},
    {main,          "README.md"},
    {authors,       ["Serge Aleynikov"]},
    {source_url,    "https://github.com/saleyn/erlexec"}
]}.
