{erl_opts, [
  debug_info,
	warnings_as_errors,
	warn_export_all
]}.

{pre_hooks,  [
  {"(freebsd|netbsd|openbsd)", compile, "gmake -C c_src"},
  {"(linux|darwin|solaris)",   compile, "make -C c_src"}
]}.
{post_hooks, [
  {"(freebsd|netbsd|openbsd)", clean, "gmake -C c_src clean"},
  {"(linux|darwin|solaris)",   clean, "make -C c_src clean"}
]}.

{plugins, [rebar3_hex, {rebar3_ex_doc, "0.2.12"}]}.
{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {extras, [
      {"README.md", #{title => "Overview"}},
      {"LICENSE",   #{title => "License"}}
    ]},
    {main,          "README.md"},
    {source_url,    "https://github.com/saleyn/erlexec"}
]}.
