html {
  --scrollbarBG: #44565f;
  --thumbBG: #5d7079;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
  margin: 0;
  background-color: #0d1117;
  color: #d8cebf;
  scrollbar-width: thin;
  /*scrollbar-color: var(--thumbBG) var(--scrollbarBG);*/
  scrollbar-color: auto;
}

body.src {
  margin-left: 10px;
}

element.style {
  word-wrap: break-word;
}

code {
  padding: 2px;
}

pre code {
  padding: 10px;
}

pre {
  background-color: var(--color-bg-tertiary);
  background-color: #161b22;
  border-radius: 6px;
  line-height: 1.5em;
  overflow: auto;
  padding: 0px;
  word-wrap: normal;
  white-space: pre;
  margin: 0px;
}

p {
  line-height: 1.5em;
  /*margin: 0 0 1.5em 0;*/
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h1 {
  display: block;
}

h1, h2 {
  border-bottom: 1px solid var(--color-border-secondary);
  padding-bottom: .3em;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  /*line-height: 1.25;*/
  margin-bottom: 16px;
  margin-left: 0;
}

table {
  display: block;
  max-width: 100%;
  overflow: auto;
  width: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-spacing: 0;
  margin-left: 0;
}

code, pre, tt {
  font-family: ui-monospace,Courier,"Courier New",monospace;
  border-radius: 6px;
}

.class-for-16px {
  line-height: 1.5em; /* 24px */
  margin-top: 1.5em;
  margin-bottom: 0em;
}

.class-for-14px {
  line-height: 1.7143em; /* 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
}

ul {
  margin: 0 0 1.5em 0;
  list-style-position: outside;
}

p tt {
  padding: 5px;
}

tt, code, pre {
  background: #2d3238;
}

.navbar img, hr {
  display: none;
}

table.frame {
  padding: 0;
}

table.tab, table.index {
  border-collapse: collapse;
  border: 1px solid gray;
}

/* Column separators excluding the border */
table.tab td.tab + td.tab
{
  border-left: 1px solid gray;
}

table.tab th.tab {
  border-bottom: 1px solid gray;
}

table.tab   td,
table.tab   th,
dd {
  padding: 8px;
}

dd {
  margin-inline-start: 15px;
}

table td {
  vertical-align: top;
}

/* table alternative row coloring */
tr.tab:nth-child(even) {
  background-color: #161b22;
}

h2.indextitle {
  /*line-height: 24px */
  margin: -8px -8px 0.6em;
  padding: 0.3em;
}

ul.index {
  list-style:  none;
  margin-left: 0;
  padding:     0;
}

ul.index li,
ol.index li,
dl.index li {
  display:       inline;
  padding-left:  0.5em;
  padding-right: 0.5em;
}

ul.index li:not(:first-child) {
  border-left: 1px solid;
}

dt {
  font-weight: 600;
}

div.spec p {
  margin-bottom: 0;
  padding-left:  0;
}

a:not([href]) {
  color: #84b1cc;
  text-decoration: none;
}

a[href]:link, a[href]:visited, a[href]:active {
  color: #58a6ff;
  text-decoration: none;
}

a[href]:hover {
  background-color: transparent;
  text-decoration: underline;
}

a.function {
  padding-left: 5px;
}

a tt {
  background-color: #0d1117;
}

i {
  /*line-height: 24px */
  margin-top: 1.7143em;
  margin-bottom: 0em;
  font-style: normal;
}

/* Right/Left/Up/Down arrows */
/* See: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_arrows */
.arrow {
  border: solid #4f4c56;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}
.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}
.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

/* NAVIGATION */

.anchor {
  top: -30px;  /* Position the anchor links with the offset so that clicking on them doesn't go off screen */
}

.navcontainer {
  position: fixed;
  top: 0;     /* Position the navbar at the top of the page */ 
  width: 100%;
  left: 0;
}

.navbar {
  overflow: hidden;
  background-color: #2e2e2f;
  width: 100%;
}

/* Dropdown button */
.dropdown .dropbtn {
  border: none;
  outline: none;
  color: #f2f2f2;
  padding: 14px 16px;
  margin: 0; /* Important for vertical align on mobile phones */
}

.navbar i {
  margin-top: 0px;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:link,
.navbar a:visited,
.navbar a:active {
  color: #f2f2f2;
  text-decoration: none;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  /* height: 1500px; */ /* Example to enable scrolling */
}

/* Dropdown Menu */
/* The container <div> - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
  display:inline-block;
}

.dropdown-content {
  float: left;
  display: none;
  position: absolute;
  background-color: #3a3a3c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

.dropdown-content a {
  padding: 12px 16px;
  margin-left: 0px;
  float: none;
}

.dropdown-content a.mod {
  float: none;
  /*color: black; */
  padding: 2px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-left: 6px;
  margin-right: 6px;
  border-radius: 6px;
}

.dropdon-content a.overview {
  color
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {display:block; } 

::-webkit-scrollbar {
    background-color: #232423;
    color: #b5ab99;
}
::-webkit-scrollbar-corner {
    background-color: #1a1b1a;
}
::-webkit-scrollbar-thumb {
    background-color: #4b4d4b;
}
